<header>
    <nav>
        <div class="logo">
            <div class="brand">
                <a href="/">
                    <img src="./image/icon.png" width="45" />
                </a>
            </div>
            <div class="Hambger">
                <button
                onclick="Nav();"
                >
                    ☰
                </button>
            </div>
        </div>
        <div class="navbar text-sm" id="Nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/doc">Docs</a>
                </li>
            </ul>
        </div>
    </nav>
</header>