<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index">
   <meta name="description" content="We use APIs and Web Scraping to get data quickly.Alpha Web apis Documantaion">
  <meta property="og:title" content="Alpha">
  <meta property="og:description" content="Alpha web api & scraps">
  <meta property="og:image" content="https://alpha-api-web.vercel.app/image/icon.png">
  <meta property="og:url" content="https://alpha-api-web.vercel.app">
  <link rel="icon" href="https://alpha-api-web.vercel.app/image/icon.png"/>
  <meta name="keywords" content="seo, web, sri lanka,api,opensource,express,js,doc,public,free">
  <link rel="canonical" href="https://alpha-api-web.vercel.app/" />
  <meta name="author" content="Alpha API">
  <!--end meta tags-->
   <link rel="stylesheet" href="./css/root.css" />
   <link rel="stylesheet" href="./css/doc.css" />
   <meta name="google-site-verification" content="q8Xh2afrkil6pp_Z_jxJBxSM8mnUXp9OOl2h4-JXtMQ" />
   <script src="./doc.js"></script>
  <title>Alpha Web Api Free Documentation</title>
</head>
<body>
  <!--topic-->
  <section>
    <div class="topic">
      <div>
        <h3 class="text-lg">Api <span>Documenting</span></h3>
      </div>
    </div>
  </section>
  <!--mini-text-->
  <section>
    <div class="mini-text">
      <div>
        <p class="text-sm">
        Read simple & lightweight documentation.  
Works with Python, TypeScript, JavaScript, C++, PHP & more.  
No login needed. 100% Free & Public APIs
        </p>
      </div>
    </div>
  </section>
  <!--Document-->
 <section id="doc-card">
 </section>
 {{>footer}}
</body>
</html>