<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="./css/root.css" />
   <link rel="stylesheet" href="./css/doc.css" />
   <script src="./doc.js"></script>
  <title>Documentation</title>
</head>
<body>
  <!--topic-->
  <section>
    <div class="topic">
      <div>
        <h3 class="text-lg">Api <span>Documenting</span></h3>
      </div>
    </div>
  </section>
  <!--mini-text-->
  <section>
    <div class="mini-text">
      <div>
        <p class="text-sm">
        Read simple & lightweight documentation.  
Works with Python, TypeScript, JavaScript, C++, PHP & more.  
No login needed. 100% Free & Public APIs
        </p>
      </div>
    </div>
  </section>
  <!--Document-->
 <section id="doc-card">
 </section>
 {{>footer}}
</body>
</html>